@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Examen Rodman Guerrero</h1>
    <p>Anime - Tipos</p>
    <p>Se trata de crear un anime y luego asignarle un Tipo. Una vez creado el Tipo, se actualizará la tabla de anime para que se llene el campo faltante, "puedes crearle tos tipos que quieras" </p>
    <img  style="width: 800px" src="https://wallpapercave.com/wp/wp6805710.jpg" alt="Alternate Text" />
</div>
